

/*头部*/
.foodre-head .foodcontainer{
	width: 1260px;
}
/*用户管理界面*/
.container1{
	width: 1260px;
	border:1px solid #aaaaaa;
	min-height: 400px;
	margin:18px auto;
	padding: 0;
}
.container{
	width: 1260px;
	min-height: 400px;
	margin:0 auto;
	padding: 0;
}

.search{
	width: 100%;
	height: 90px;
	border-bottom: 1px solid #aaaaaa;
}
.search_tt{
	width: 10%;
}
.search_title{
	font-size: 18px;
	color:#82af4a;
	line-height: 90px;
	margin-left: 15px;
}
.search_content{
	margin-top: 10px;
	width: 80%;
}
.search_text{
	width: 100%;
	overflow: hidden;

}
.search_text1{
	font-size: 14px;
	float:left;
	line-height: 34px;
	margin-right: 10px;
}
.search_text input{
	width: 38%;
	float:left;
	margin-right: 5%;

}
.dowebok{
	width: 300px;
	overflow: hidden;
	margin-top: 4px;
}
.dowebok li{
	float:left;
	margin-right: 15px;
}
.search_button{
	width: 81px;
	height: 31px;
	background: url(../images/search_btn.jpg);
	border:none;
	margin-top:30px;
	margin-left: -15px;
}
/*用户管理界面列表部分*/

.content_box{
	min-height: 510px;
}

/*左侧*/
.content_left{
	min-height: 510px;
	border-right: 1px solid #aaaaaa;
}

.content_left_btn{
	width: 114px;
	height:31px;
	background: url(../images/add_btn.jpg)no-repeat;
	padding-left:25px; 
	margin:10px 0 0 10px;
	border:none;
	color:#82af4a;
}
.content_left_list{
	margin: 20px 0 0 42px;
}
.content_left_list li h4.cur{
	background: url(../images/ul_down.png)left no-repeat;
}
.content_left_list li h4{
	color:#595757;
	font-size: 16px;
	background: url(../images/ul_right.png)left no-repeat;
	padding-left: 15px;
	cursor: pointer;
	line-height: 24px;
}
.content_left_list_inner{
	margin-left: 35px;
	margin-bottom: 10px;
	
}
.content_left_list_inner.curr{
	display: block;
}
.content_left_list_inner li{
	line-height: 24px;
}
.content_left_list_inner li a{
	color:#595757;
	font-size: 14px;
	
}

/*右侧列表*/

.content_right_btn{
	width: 114px;
	height:31px;
	background: url(../images/dc_btn.jpg)no-repeat;
	padding-left:25px; 
	margin:10px 0 0 10px;
	border:none;
	color:#82af4a;
}
.table-bordered>thead>tr>th{
	border:none;
}
.content_table th{
	text-align:center;
	color:#71a332;
}
.content_table td{
	text-align:center;
}
.btn-primary.active.focus,
 .btn-primary.active:focus,
  .btn-primary.active:hover,
   .btn-primary:active.focus,
    .btn-primary:active:focus,
     .btn-primary:active:hover, 
     .open>.dropdown-toggle.btn-primary.focus,
      .open>.dropdown-toggle.btn-primary:focus, 
      .open>.dropdown-toggle.btn-primary:hover{
      	color:#71a332;
	background-color:#fff;
	border-color:#71a332;
      }
.btn-primary:hover ,.btn-primary:focus{
	color:#71a332;
	background-color:#fff;
	border-color:#71a332;
}
.btn-primary{
	color:#71a332;
	background-color:#eeeeee;
	border-color:#71a332;
}
.pagination>.active>a, .pagination>.active>a:focus, 
.pagination>.active>a:hover, .pagination>.active>span, 
.pagination>.active>span:focus, .pagination>.active>span:hover{
	background-color:#71a332;
	border-color:#71a332;
}
.pagination>li>a, .pagination>li>span{
	color:#71a332;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
	color:#71a332;
}


/*用户详情*/	

.row{
	margin:0;
}
.detail_left{
	width: 140px;
	background: #71a332;
	height:720px;
	padding: 0;
}
.detail_left_list li{
	width: 140px;
	text-align: center;
	background:url(../images/ul_down_white.png)no-repeat;
}
.detail_left_list li.cur{
	background-color:#8db55b; 
	background:url(../images/ul_right_white.png)no-repeat;
}
.detail_left_list li h4{
	color:#fff;
	line-height: 50px;
	font-size: 16px;
	cursor: pointer;
	border-bottom:1px solid #dcdcdc;
	
}
.detail_left_list_inner{

}

.detail_left_list_inner li{
	width: 140px;
	height:34px;
	border-bottom:1px solid #dcdcdc;
	text-align: center;
	background:url(../images/ul_down_whitesm.png)no-repeat;
}
.detail_left_list_inner li.cur{
	background-color:#8db55b; 
	background:url(../images/ul_right_whitesm.png)no-repeat;
}
.detail_left_list_inner li p{
	color:#fff;
	line-height: 34px;
	font-size: 14px;
	cursor: pointer;
	
}


/*右侧详情*/
.detail_right{
	width: 80%;
}
.user_detail{
	width: 440px;
	margin-top: 10px;

}
.user_row{
	display: block;
	overflow: hidden;
	line-height: 35px;
}
.user_row label{
	width: 100px;
	font-size: 14px;
	float: left;
	text-align: right;
}
.user_row p{
	width: 326px;
	font-size: 14px;
	float: left;
	margin-left: 10px;
}
.user_row img{
	margin-left: 10px;
}


/*用户轨迹部分*/

.detail_title{
	font-size:14px;
	color:#595757;
	margin:15px 0 0 50px;
}
.green{
	color:#71a332;
	margin:0 5px;
}
.red{
	color:#ff4444;
	margin:0 10px;
}

.detail_inner{
	border:1px solid #aaaaaa;
	width: 1045px;
	min-height: 550px;
	margin:15px 0 0 50px;
}
.detail_inner li{
	overflow: hidden;
	width: 100%;
	line-height: 35px;
	height: 35px;
	border-bottom:1px solid #aaaaaa;
	
}
.detail_inner li p{
	float: left;
	font-size: 14px;
	text-indent:14px;
}
.detail_inner li a{
	float:right;
	margin:7px 20px 0 0;
}

.detail_inner_list{
	overflow: hidden;
	width: 100%;
	padding-bottom: 20px;
	border-bottom:1px solid #aaaaaa;
}
.detail_inner_list dt{
	float: left;
	margin:15px 0 0 25px;
}
.detail_inner_list dd{
	float: right;
}
.detail_inner_list dt p{
	line-height: 30px;
	font-size: 14px;
	font-weight: normal;
}
.detail_inner_list dt img{
	display: block;
	margin-top: 10px;
}
.detail_inner_list dd {
	line-height: 210px;
}
.detail_inner_list dd a{
	margin-right: 20px;
}



.table-bordered>thead>tr>th{
	text-align: center;
}
.table-bordered>tbody>tr>td
 {
     	border:none;
     	border-top: 1px solid #ddd;
     	text-align: center;
}